body {
  margin: 0;
  font-family: italic;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  transform: scale(1.5);
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(60deg, white, lightblue);
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-left: 305px;
  font-size: 14px;
  padding: 0px 10px;
}

.useraccount {
  margin-left: 3px;
  font-size: 11px;
  padding: 0px 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .accordion {
  background:linear-gradient(4deg, white, #CCCC);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: black;
  transform: scale(1.1);
}

.panel {
  padding: 0 18px;
  background-color: #CCCCCC;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: indianred;
  color: white;
  width: 260px;
  padding: 16px 20px;
  margin: 10px;
}
.open-button:hover {
    background: red;
    opacity: 0.5;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 2;
  left: 302px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 302px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*Style of logout link*/
.logout{
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0.3em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: normal;
  color: black;
  background-image: -webkit-linear-gradient(45deg, lightblue 0%, #b0c9ff 100%);
  background-image: linear-gradient(45deg,  lightblue 0%, #b0c9ff 100%);
  transition: .4s;
}

.logout:hover{
  background-image: -webkit-linear-gradient(45deg, lightblue 50%, #b0c9ff 100%);
  background-image: linear-gradient(45deg, lightblue 50%, #b0c9ff 100%);
}

label {
  display: inline-block;
  width: 10em;
  margin-right: .5em;
  padding-top: 1.5em;
  text-align:center;
}

.container {
  display: flex;
}

/*Style of social media links*/
.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 25%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*------footer--------*/
.footer {
   position: fixed;
   right: 0;
   bottom: 0;
   height: 45px;
   width: 81.25%;
   background-image: linear-gradient(to bottom right, white, lightblue);
   color: black;
   text-align: center;
  }

  /*------Label inside field css--------*/
  .input-alpha {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .input-alpha label {
    position: absolute;
    left: 3px;
    top: 10px;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    transform-origin: 0% 0%;
  }
  .input-alpha input {
    border: solid 1px #e6e6ea;
    height: 48px;
    width: 100%;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px 0px #f00;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
  }
  .input-alpha input:focus {
    outline: 0;
    border: 1px solid #00f;
  }
  .input-alpha input:focus + label {
    color: blue;
  }
  .input-alpha input:valid,
  .input-alpha input:-webkit-autofill {
    padding: 26px 32px 10px 16px;
  }
  .input-alpha input:valid + label,
  .input-alpha input:-webkit-autofill + label {
    top: 7px;
    transform: scale(0.8);
  }